@{
    ViewBag.Title = "Home";
}

@if (!User.Identity.IsAuthenticated)
{
<div class="jumbotron">
    <h1>Discourse</h1>
    <p class="lead">In order to use the discourse website you need to login.</p>
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</div>
}
@if (User.Identity.IsAuthenticated)
{

}