@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Discourse</h1>
    <p class="lead">Body</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Button &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Header</h2>
        <p>Paragraph</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Header</h2>
        <p>Paragraph</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Header</h2>
        <p>Paragraph</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Button &raquo;</a></p>
    </div>
</div>