
@{
    ViewBag.Title = "Profile Settings";
    var user = Model.User;
    var profile = Model.UserProfile;
    var name = user.FirstName + " " + user.LastName;
}

@Html.Partial("_Banner")
<div class="Settings">
    <h3><b>Profile Settings</b></h3>
    <p><a href="/Manage/Index">Account Settings</a></p>
</div>