@model Discourse.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile Settings";
    var profile = Model.UserProfile;
}

@Html.Partial("_Banner")
<div class="Settings">
    <h3><b>Profile Settings</b></h3>
    <p><a href="/Manage/Index">Account Settings</a></p>
    <br />
    @using (Html.BeginForm("ChangeProfile", "Profile"))
    {
        @Html.HiddenFor(model => model.UserProfile.Id);
        <div class="Setting">
            <h4><b>Banner</b></h4>
            <img id="BannerSmall" src=@profile.BannerPicUrl>
            <input type="file" name="bannerImg" />
        </div>
        <div class="Setting">
            <h4><b>Icon</b></h4>
            <img id="IconSmall" src=@profile.ProfilePicUrl>
            <input type="file" name="iconImg" />
        </div>
        <div class="Setting">
            <h4><b>Bio</b></h4>
            @Html.TextAreaFor(model => model.UserProfile.Bio)
        </div>
        <button type="submit">Submit</button>
        @Html.ActionLink("Cancel", "Settings", "Profile")
    }
</div>